{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:import/errors",
      "plugin:import/warnings",
      "plugin:import/typescript"
    ],
    "plugins": ["@typescript-eslint", "react", "import"],
    "env": {
      "browser": true,
      "es2021": true,
      "node": true
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
    },
    "rules": {
      "react/prop-types": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off"
    }
  }
  